node_modules/
.cache/
package-lock.json

# Site content generated at build
_site/

# Local Netlify folder
.netlify

# search data file is generated at build
netlify/edge-functions/_generated

# debug files
debug.txt
debugAll.txt
benchmark.txt