<iframe title="Embed Player" style="border: medium none;" 
src="https://play.libsyn.com/embed/episode/id/{{episodeId}}/height/192/theme/modern/size/large/thumbnail/yes/custom-color/5bc0de/time-start/00:00:00/hide-playlist/yes/download/yes" scrolling="no" allowfullscreen="" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true" msallowfullscreen="true" width="100%" height="192"></iframe>