<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

    <!-- synchronous js / schema  -->
   	 	{% include "schema/base-schema.html" %} 
    	{% if schema == 'blog' %}
    		<!-- include blogpost schema  -->
   			 {%- include "schema/blogpost-schema.html" %} 
	    {% endif %}

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}"> 

		{#-
			CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
			1. You can add to them using `{% css %}`
			2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
			3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
			4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
			#}
	
			{#- Add the contents of a file to the bundle #}

			
			{%- css %}{% include "../../assets/css/fonts.css" %}{% endcss %}
			{%- css %}{% include "../../assets/css/index.css" %}{% endcss %}
			{%- css %}{% include "../../assets/css/site-header.css" %}{% endcss %}
			{%- css %}{% include "../../assets/css/blog.css" %}{% endcss %}
			{%- css %}{% include "../../assets/css/postlist.css" %}{% endcss %}
			
			{#- Or add from node_modules #}
			{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}
	
			{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
					
			<style>{% getBundle "css" %}</style>

	 <!-- everything else: meta tags, icons, open graph etc.  -->
    {% include "partials/meta-info.njk" %}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		<div class="wrapper">
			{% include "partials/site-header.njk"%}

			<main id="skip">
								{{ content | safe }}
			</main>

			{% include "partials/footer.njk"%}
		</div>
		    {# add youtube script if activated in document yaml#}
    	{% if youtube %}
    		<script
      		type="module"
      		src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.4.0/lite-youtube.min.js"
    		></script>
    	{% endif %}

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
