---
layout: layouts/base.njk
---

{# layout for blog page.  List all posts by year with month links #}
<header class='blog-page-header'>

    <h1>{{ title }}</h1>
    <p><strong>{{collections.posts | length }}</strong> items published since {{collections.posts[0].data.date | readableDate("DDD")}}</p>

</header>

<article class="writing-index">

{% set allPosts = collections.posts | reverse %}

{% set postsByYear = allPosts | groupByYear %}

{% for year, items in postsByYear %}
  <section class='year-header'>
    <header class='year-index'>
      <h2>{{ year }}</h2>

        {% set postsByMonth = items | groupByMonth %}                 
        {% set year = year %}
      <nav>
        {% include 'partials/monthsOfYear.njk' %}
      </nav>

    </header>

    {% set postslist = items %}

    {% include "partials/postslist.njk" %}

  </section>

{% endfor %}

</article>