---
layout: layouts/default.njk
pagination:
    data: podfeed
    size: 1
    alias: episode
    addAllPagesToCollections: true 
tags: ["riseuppod"]
permalink: "/riseuppod/{{ episode.title | slugify }}/"
eleventyComputed:
    title: "{{episode.itunes_title}}"
    pubDate: "{{episode.pubDate | RFC2822ToReadableDate}}" 
    libsynEpisodeID: "{{episode.libsyn_itemId}}"
    episodeType: "{{episode.itunes_episodeType}}"
    episodeSeason: "{{episode.itunes_season}}"
    episodeNumber: "{{episode.itunes_episode}}"
    audioPlayer: "{{episode.enclosure.@_url}}"
    episodeID:    "{{episode.episodeID}}"     

---


<h1>{{ episode.itunes_title }}</h1>

{# {% include "partials/podcastEpisode.njk" %} #}
<h3>{{episode.episodeID}}</h3>
<br/>
Published on: {{ episode.pubDate | RFC2822ToReadableDate }}

{{episode.description | safe}}


{% set podcastEpisodeId = episode.libsyn_itemId %}

{% include "partials/podcastplayer.njk" %}