---
pagination:
  data: collections.contentPaginatedByYearMonth
  size: 1
  alias: yearMonth
layout: layouts/default.njk
permalink: /blog/{{ yearMonth.slug }}/index.html
---
{# this entire idea is from photogabble #}

<h1>{{yearMonth.title}}</h1>


  <section>
    {% set displayContentType = true %}
    {% set postslist = yearMonth.items %}
    {% include "partials/postslist.njk" %}
  </section>

    {% include 'partials/plantingTimes.njk' %}



