---
layout: layouts/default.njk
title: Subscribe
permalink: /subscribe/index.html
---

<h2>Get updates via RSS or email</h2>

<p>Want to know when I post new articles? If you have an RSS reader you can subscribe to my <a href='/feed/feed.xml'>feed</a>. </p>

<p>I also send an email newsletter on Saturday mornings with a special story and highlights from the blog.  To receive the newsletter, simply enter your email address below.  You can unsubscribe any time.</p>


<h2>Subscribe to the email newsletter</h2>

{% include "partials/subscriptionForm.njk" %}


<p>PS - I don't share, track or analyze anything about you or your email address.  I send the newsletter to you.  That's it!</p>


