---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/default.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1> {{ title }} </h1>

{% set postslist = collections[ tag ] %}
{% include "partials/postslist.njk" %}

<p>See <a href="/tags/">all tags</a>.</p>
