/* writing index subheaders */

.blog-page-header {
    margin-bottom: 1.5rem;
}

 header.year-index {
	display: flex;
	flex-direction: row;
	align-items: center ;
	justify-content: space-between;
	content: none;
	padding-bottom: 1rem;
}
header.year-index > h2 {
    margin-bottom: 0;
}

/* blog posts */


.blog img {
	width: 100%;
	height: auto;
  }

article.blog li {
padding-bottom: 0.9em;
}

