@font-face {
	font-family: 'Newsreader';
	src: url('/fonts/Newsreader/Newsreader-VariableFont_opsz,wght.woff2') format("woff2 supports variations"),
		 url('/fonts/Newsreader/Newsreader-VariableFont_opsz,wght.woff2') format("woff2-variations");
	font-weight: 300 800;
	font-stretch: 75% 125%;
	font-style: normal; 
	font-display: swap;
}
@font-face {
	font-family: 'Newsreader';
	src: url('/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz,wght.woff2') format('woff2 supports variations'),
		 url('/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz,wght.woff2') format('woff2-variations');
	font-weight: 300 800;
	font-stretch: 75% 125%;
	font-style: italic;
	font-display: swap;
}
/*
@font-face {
	font-family: 'atkinson_hyperlegible';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: local(''),
	  url(/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2)
		format('woff2'),
	  url(/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.woff) format('woff');
  }

  @font-face {
	font-family: 'atkinson_hyperlegible';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: local(''),
	  url(/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2)
		format('woff2'),
	  url(/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.woff) format('woff');
  }
 */
  @font-face {
	font-family: 'RobotoMono';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: local(''),
	  url(/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2)
		format('woff2'),
	  url(/fonts/robotomono/robotomono-variablefont_wght-webfont.woff) format('woff');
  }

