  @font-face {
	font-family: 'RobotoMono';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: local(''),
	  url(/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2)
		format('woff2'),
	  url(/fonts/robotomono/robotomono-variablefont_wght-webfont.woff) format('woff');
  }

