---
layout: layouts/home.njk
permalink: /
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 6
---
<h1>Mark Dyck is avoiding labels.</h1>

<p>Welcome.  I should likely say more, but for now, here is some recent writing.</p>

<p>This site is being built in the open, as I bring over 15 years of content from my old sites.  You're likely to find a few glitches here and there. More details are in my <a href='/about/'>the about page</a> and the <a href='/colophon/'>colophon</a>.</p>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<h2>Recent Posts</h2>


{% set recentposts = collections.posts | head(-1 * numberOfLatestPostsToShow) %}

{% set postslist = recentposts | reverse %}  {# postslists.njk displays posts in the order you provide them#}

{% set postslistCounter = postsCount %}  {# used to number the posts being listed #}

{% include "partials/postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>There are {{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} in the <a href="/writing/">writing</a> area.</p>
{% endif %}

{#
List every content page in the project 

<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>

#}


