---
permalink: /podcast/index.html
layout: layouts/base.njk
eleventyNavigation:
  key: "Podcast"
  order: 4
---
<h1>Rise Up! The Baker Podcast</h1>


<ul class='post-list'>
{% for episode in podfeed.rss.channel.item %}
	{% set episodeURL %}/riseuppod/{{ episode.title | slugify }}/{% endset %}
	
  <li>
   {% include 'partials/podcastEpisode.njk' %}  <a href="{{ episodeURL }}">{{ episode.itunes_title }}</a> 
    <br/>
{{ episode.pubDate | RFC2822ToReadableDate }}
    

    </li>
{% endfor %}
</ul>
