---
layout: layouts/home.njk
pagination:
    data: podfeed.rss.channel.item
    size: 1
    alias: episode
tags: ["podcast", "riseuppod"]
permalink: "/riseuppod/{{ episode.title | slugify }}/"
---

<h1>{{ episode.itunes_title }}</h1>

{% include "partials/podcastEpisode.njk" %}
<br/>
Published on: {{ episode.pubDate | RFC2822ToReadableDate }}

{{episode.description | safe}}


{% set podcastEpisodeId = episode.libsyn_itemId %}

{% include "partials/podcastplayer.njk" %}