
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage"
    },
    "isPartOf": {
      "@id": "{{ site.url }}#website"
    },
    "@id": "{{ page.url }}",
    "headline": "{{ title or site.siteName }}",
    "description": "{{ seo.description or description or site.siteDescription }}",
    "image": "{{ site.url }}{{ site.og_data.opengraph_default }}",
    "inLanguage": "{{ site.locale }}",
    "publisher": {
      "@type": "{{ site.siteType }}",
      "name": "{{ site.author }}",
      "url": "{{ site.authorUrl }}"
    },
    "author": {
      "@type": "Person",
      "name": "{{ site.author }}"
    },
    "datePublished": "{{ date | toIsoString }}"
  }
</script>
