<base href="{{ page.url }}" />

<meta
  name="description"
  content=" {{ site.siteDescription }} "
/>

<meta name="theme-color" content="{{ site.themeColor }}" />
<meta name="robots" content="index,follow, noai, noimageai" /><!-- All Search Engines -->
<meta name="googlebot" content="index,follow" /><!-- Google Specific -->
<meta name="generator" content="{{ eleventy.generator }}" /><!-- thank you, Zach -->
<!-- Disable automatic detection and formatting of possible phone numbers -->
<meta name="format-detection" content="telephone=no" />
<!-- Helps prevent duplicate content issues -->
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

<!-- Links to information about the author(s) of the document -->
<link rel="author" href="humans.txt" />

{% if site.meta_data.mastodonProfile %}
<!-- Mastodon verified site -->
<link rel="me" href="{{ site.meta_data.mastodonProfile }}" />
{% endif %}

<!-- Open Graph meta  -->
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="{% if title %}{{ title }}{% else %}{{ site.siteName }}{% endif %}"
/>
<meta
  property="og:image"
  content="{{ site.url }}{{ site.og_data.opengraph_default }}"
/>
<meta
  property="og:image:alt"
  content="{% if (layout == 'post') %}{% else %}{{ site.og_data.opengraph_default_alt }}
{% endif %}"
/>
<meta
  property="og:description"
  content="{% if description %}{{ description }}{% else %}{{
    site.siteDescription
  }}{% endif %}"
/>
<meta property="og:site_name" content="{{ site.siteName }}" />
<meta property="og:locale" content="{{ site.locale }}" />
<meta property="article:author" content="{{ site.author }}" />

<!-- Twitter meta -->
<meta name="twitter:card" content="summary_large_image" />
{% if site.outposts.twitterUrl %}
<meta name="twitter:site" content="{{ site.outposts.twitterUrl }}" />
{% endif %} 
{% if site.outposts.twitterHandle %}
<meta name="twitter:creator" content="{{ site.outposts.twitterHandle }}" />
{% endif %}
<meta name="twitter:dnt" content="on" />

<!-- Favicon -->
<link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any" />
<link rel="icon" href="{{ '/favicon.svg' | url }}" type="image/svg+xml" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}" />
<link rel="icon" type="image/png" href="{{ '/favicon-32x32.png' | url }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ '/favicon-16x16.png' | url }}" sizes="16x16" />
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
