      {% if episode.itunes_episodeType == 'bonus' %}
            Bonus episode
      {% elif episode.itunes_season %}
            Season {{episode.itunes_season}}  Episode {{episode.itunes_episode}}
      {% else %}
            Episode {{episode.itunes_episode}}
      {% endif %}

