{# posts are already provided in reverse order#}


<ol reversed class="post-list-summary" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist  %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
        <time class="postlist-summary-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("DDD") }}</time>
		<a href="{{ post.url }}" class="postlist-link" title="Read {{ post.data.title }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<summary>{{post.data.summary}}</summary>
    </li>
{% endfor %}
</ol>

{#
<ol reversed class="post-list" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">

{% for post in postslist %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link" title="Read {{ post.data.title }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<hr>
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("DDD") }}</time>
	</li>
{% endfor %}
</ol>
#}


