<header class='page-header'>
    <a href="/" class="logo" aria-label="Mark Dyck's site logo" {% if activePage === '/' %} aria-current="page" {% endif %}>
        <img src="/mad-logo.svg" alt="website home" aria-hidden="true" width="24" height="24">
    </a>
    <a href="/" class="home-link">{{ metadata.title }}</a>

    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}

    <nav>
        <h2 class="visually-hidden">Top level navigation menu</h2>
        <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item">
                <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
            </li>
        {%- endfor %}
        </ul>
    </nav>
</header>