<header class='page-header'>
    <a href="/" class="logo" aria-label="Mark Dyck's site logo" {% if activePage === '/' %} aria-current="page" {% endif %}>
        <img src="/mad-logo.svg" alt="website home" aria-hidden="true" width="24" height="24">
    </a>
    <a href="/" class="home-link">{{ metadata.title }}</a>

    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}

    <nav>
        <h2 class="visually-hidden">Top level navigation menu</h2>
        <ul class="nav">
        {%- for link in site.mainSiteNav %}
            <li class="nav-item">
                <a href="{{ link.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ link.text }}</a>
            </li>
        {%- endfor %}
        </ul>
    </nav>

    <div id="search" class="search"></div>

<script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
</header>